@import '../../../scss/index.scss';

.ui.form.add-song-form{
    .song-upload{
        height: 140px;
        width: 100%;
        background-color: $background-grey-light;
        text-align: center;

        &:hover{
            cursor: pointer;
        }

        i{
            font-size: 40px;
            margin-top: 10px;
            margin-bottom: 20px;

            &.load{
                color: $primary-color;
            }
        }

        > div{
            p{
                margin: 0;

                &:first-of-type{
                    margin-bottom: 5px;
                }

                span{
                    color: $primary-color;
                }
            }
        }
    }
}